<%- include("partials/header"); -%>
<div class="container">
  <h1>About Me</h1>
  <img src="/images/profile.jpg" alt="Profile Picture" class="profile-resize"> 

  <h2>Name</h2>
  <p>Shing Chit Lee</p> 

  <h2>Who Am I?</h2>
  <p>I am a student of software engineering technician in Centennial College. Thank you for visiting my portfolio!</p>

  <h2>Resume</h2>
  <p>Click the link below to checkout my resume:</p>
  <a href="/images/resume.pdf" download>Download Resume</a>
</div>
 
  <%- include("partials/footer"); -%>
