<%- include('partials/header') %>

<h1>Welcome to my portfolio!</h1>
<p>Thank you for visiting my website. I'm excited to share my work and experiences with you.</p>

<a href="/about">About Me</a>

<h2>Mission Statement</h2>
<p>I want to master backend.</p>
