 <%- include('partials/header') %>

  <h1>Projects</h1>
<div class="container">
  <div class="project">
    <h2>Project 1</h2>
    <img src="/images/project1.png" alt="Project 1" class="resize"> 
    <p>Description: refresh the page then two dices will draw.</p>
    <p>My Role: Javascript Programmer</p>
    <p>Outcome: compare which one is bigger then decide which player win the game.</p>
    <hr>
  </div>

  <div class="project"> 
    <h2>Project 2</h2>
    <img src="/images/project2.png" alt="Project 2" class="resize"> 
    <p>Description: play a drum kit</p>
    <p>My Role: Javascript Programmer</p>
    <p>Outcome: when click a keyboard or mouse with specific key then can make a specific drum kit sound.</p>
    <hr>
  </div>

  <div class="project">
    <h2>Project 3</h2>
    <img src="/images/project3.png" alt="Project 3" class="resize">
    <p>Description: To ask a question and waiting the user to answer</p>
    <p>My Role: Java Programmer</p>
    <p>Outcome: It can count the correct rate in the final output.</p>
  </div>
</div>
 
  <%- include("partials/footer"); -%>

