<%- include('partials/header') %>

<h1>Services</h1>

<div class="service">
  <h2>Web Development</h2>
  <img src="/images/web-development.jpg" alt="Web Development" class="service-image">
  <p>Offering professional web development services using JavaScript and React.</p>
</div>

<div class="service">
  <h2>Java Development</h2>
  <img src="/images/java-development.png" alt="Java Development" class="service-image">
  <p>Providing expert Java development services for your software projects.</p>
</div>

<div class="service">
  <h2>SQL</h2>
  <img src="/images/sql.jpg" alt="SQL" class="service-image">
  <p>Specializing in SQL database management and optimization.</p>
</div>

<%- include("partials/footer"); -%>
